---
import PageLayout from '@/layouts/CommonPage.astro'
import Substats from '@/components/about/Substats.astro'
import ToolSection from '@/components/about/ToolSection.astro'
import SkillToolSection from '@/components/about/SkillToolSection.astro'
import { skillCategories, skillCategoryToTools } from '@/utils/skillsConfig'

const headings = [
  { depth: 2, slug: 'hobbies', text: 'Hobbies' },
  { depth: 2, slug: 'skills', text: 'Skills' },
  { depth: 2, slug: 'tools', text: 'Tools' },
  { depth: 2, slug: 'social-networks', text: 'Social Networks' },
]
---

<PageLayout title='About' {headings} info='/about'>
  <p>
    Backend Software Engineer with a focus on building secure, scalable, and cost-effective cloud solutions.
  </p>
  <p class='text-muted-foreground'>
    Graduated with a Licenciatura en Sistemas degree—a program combining elements of both Bachelor's and Master's studies—and previously earned the Analista Programador Universitario degree. Both were completed at the Facultad de Informática, Universidad Nacional de La Plata.
  </p>

  {/* general-talk */}
  <h2 id='hobbies'>Hobbies</h2>
  <h3>Competitive Gaming / Esports</h3>
  <ul>
    <li>
      <strong>Overwatch Open Division:</strong> Competed semi-professionally, leading my team to a hard-earned promotion into Contenders—Blizzard’s highest-tier semi-pro league. The journey was intense, with unforgettable team moments.
    </li>
    <li>
      <strong>Top 500 Player:</strong> Consistently ranked among the Top 500 in Overwatch 1 & 2 (Americas leaderboard) and Valorant (LATAM leaderboard).
    </li>
    <li>
      <strong>Skills Beyond the Game:</strong> Competitive gaming taught me more than mechanics—it sharpened my strategic thinking, teamwork, communication, and adaptability under pressure. These experiences continue to shape how I approach challenges in both tech and life.
    </li>
  </ul>

  {/* skills */}
  <h2 id='skills'>Skills</h2>
  <p>Technologies and practices I work with:</p>
  {skillCategories.map((category) => (
    <SkillToolSection
      class='mb-5'
      title={category.title}
      tools={skillCategoryToTools(category)}
    />
  ))}

  {/* tools */}
  <h2 id='tools'>Tools</h2>
  <p>Some of the tools I use:</p>
  <ToolSection
    class='mb-5'
    title='Productivity'
    tools={[
      {
        name: 'Chrome',
        description: 'Browser',
        href: 'https://www.google.com/chrome/',
        icon: import('@/assets/tools/chrome.svg?raw')
      },
      {
        name: 'Firefox',
        description: 'Browser',
        href: 'https://www.mozilla.org/en-US/firefox',
        icon: import('@/assets/tools/firefox.svg?raw')
      },
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Development'
    tools={[
      {
        name: 'VS Code',
        description: 'IDE',
        href: 'https://code.visualstudio.com/',
        icon: import('@/assets/tools/vscode.svg?raw')
      },
      {
        name: 'Visual Studio 2026',
        description: 'IDE for C# Development',
        href: 'https://visualstudio.microsoft.com/',
        icon: 'devicon-visualstudio-plain colored'
      },
      {
        name: 'SQL Server Management Studio (SSMS) 22',
        description: 'Tool for managing SQL Server databases',
        href: 'https://aka.ms/ssms',
        icon: 'devicon-microsoftsqlserver-plain colored'
      },
      {
        name: 'Git',
        description: 'Version Control',
        href: 'https://git-scm.com/',
        icon: import('@/assets/tools/git.svg?raw')
      },
      {
        name: 'Warp Terminal',
        description: 'Modern, Rust-based Terminal',
        href: 'https://warp.dev/',
        icon: import('@/assets/tools/warp.svg?raw')
      },
      {
        name: 'Postman',
        description: 'API Development & Testing',
        href: 'https://www.postman.com/',
        icon: 'devicon-postman-plain colored'
      },
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Environment'
    tools={[
      {
        name: 'Manjaro Linux',
        description: 'Arch-based Linux Distribution - For Development',
        href: 'https://manjaro.org/',
        icon: import('@/assets/tools/manjaro.svg?raw')
      },
      {
        name: 'Windows 11',
        description: 'Mainly for Gaming',
        href: 'https://news.microsoft.com/windows11-general-availability/',
        icon: import('@/assets/tools/windows11.svg?raw')
      },
    ]}
  />

  {/* social-networks */}
  <h2 id='social-networks'>Social Networks</h2>
  <p>
    You can find me on:
  </p>
  <Substats
    stats={[
      {
        platform: 'GitHub',
        icon: 'github',
        link: 'https://github.com/juliancasaburi',
        text: 'followers',
        api: 'github/juliancasaburi'
      },
      {
        platform: 'X',
        icon: 'x',
        color: '#2ca5e0',
        link: 'https://x.com/juliancasaburi',
        text: 'followers',
        api: 'twitter/juliancasaburi'
      },
    ]}
  />
</PageLayout>
